.Rproj.user
.Rhistory
.RData
.Ruserdata
docs
inst/doc
*.html
Rplots.pdf
data-raw/nge-icon_white.png
.Renviron
.env
data/rag/

# testthat failure snapshots
tests/testthat/_problems/
tests/testthat/testthat-problems.rds
